<div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label>
        Username:
        <input type="text" formControlName="userName" />
      </label>
    </div>
    <div formGroupName="credentials">
      <label>
        Email:
        <input type="text" formControlName="email" />
      </label>
      <label>
        Password:
        <input type="text" formControlName="password" />
      </label>
    </div>
    <div formGroupName="address">
      <label>
        Street:
        <input type="text" formControlName="street" />
      </label>
      <label>
        Zip:
        <input type="text" formControlName="zip" />
      </label>
      <label>
        City:
        <input type="text" formControlName="city" />
      </label>
    </div>
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
  <!-- <button (click)="changeUsername()">click</button> -->
</div>
<!-- <div *ngIf="formValid">
  {{ user.userName }}
  {{ user.email }}
  {{ user.password }}
  {{ user.street }}
  {{ user.zip }}
  {{ user.city }}
</div> -->
